<div class="min-h-screen bg-gray-50">
  <section id="hero" class="mt-4">
    <div class="mx-auto w-full max-w-2xl space-y-8">
      <div class="gap-2 flex flex-col md:flex-row justify-between items-center md:items-start">
        <div class="me-4 mb-4 md:mb-0 opacity-100">
          <span class="relative flex shrink-0 overflow-hidden rounded-full size-28 border border-gray-200">
            <img class="aspect-square h-full w-full" alt="Nam Nguyen"
              [src]="avatarUrl">
          </span>
        </div>
        <div class="flex-col flex flex-1 space-y-1.5 items-center md:items-start text-center md:text-left">
          <div class="flex items-baseline gap-2 pb-4 opacity-100">
            <h1 class="text-3xl font-bold tracking-tighter sm:text-5xl xl:text-6xl/none me-2">Hi there, I'm Nam</h1>
            <span
              class="inline-block origin-[70%_70%] animate-wave text-3xl sm:text-5xl xl:text-6xl">👋</span>
          </div>
          <div class="flex">
            <span class="inline-block max-w-[600px] md:text-xl opacity-100 blur-0 -translate-y-2">
              A guy who sharing his journey in coding development and snippets of his life on this blog
            </span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <app-social></app-social>

  <div class="max-w-2xl mx-auto w-full mt-12">
    <div class="opacity-100 mb-4">
      <h2 class="text-xl font-bold">Work Experience</h2>
    </div>
    <app-work-experience></app-work-experience>
  </div>

  <div class="max-w-2xl mx-auto w-full mt-12">
    <div class="opacity-100 mb-4">
      <h2 class="text-xl font-bold">Certifications</h2>
    </div>
    <app-certifications></app-certifications>
  </div>

  <div class="max-w-2xl mx-auto w-full mt-12">
    <div class="opacity-100 mb-4">
      <h2 class="text-xl font-bold">Education</h2>
    </div>
    <app-education></app-education>
  </div>

  <div class="max-w-2xl mx-auto w-full mt-12">
    <div class="opacity-100 mb-4">
      <h2 class="text-xl font-bold">Skills</h2>
    </div>
    <app-skills></app-skills>
  </div>
</div>
