
/* You can add global styles to this file, and also import other style files */
@import url(https://fonts.googleapis.com/css2?family=Nunito&display=swap);
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@800&display=swap");
@import url(https://fonts.googleapis.com/css?family=Open+Sans&display=swap);

/* include CSS for prism toolbar */
@import "prismjs/plugins/toolbar/prism-toolbar.css";

/* check node_modules/prismjs/themes/ for the available themes */
@import "prismjs/themes/prism-tomorrow.min.css";
@import 'tailwindcss';
html,
body {
  display: block;
  height: 100%;
}

html {
  font-family: "Nunito", "Open Sans", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  font-display: swap;
}

h1 {
  margin-top: 0.5rem !important;
  margin-bottom: 0.5rem !important;
}

.error-image {
  min-width: 375px !important;
  max-width: 700px !important;
  margin: 1rem auto !important;
  border: 1px dashed #ccc !important;
  padding: 1rem !important;
}

li {
  text-align: justify;
}
